.card {
		width:500px; 
		height: fit-content; 
		background-color: aliceblue; 
		border-radius: 25px; 
		border: solid 2px rgb(36, 36, 141); 
		margin: 20px; 
		padding: 40px;
	}

	.container_imagem {
		width: 100px; 
		height: 100px; 
		border-radius: 50%; 
		margin-bottom: 40px;
	}

    /*Aqui ele define  que todas as tags img vão receber essa estilização 
	- sem exceção, ja que nao tem o identificador da classe*/
	
	img{
		width: 100%;  
		height: 100%; 
		margin-top: 20px;
	}
